* {
  all: unset;
}

@import 'css/colors';

@import 'css/crypto';
@import 'css/workspaces';
@import 'css/clock';
@import 'css/music';
@import 'css/launcher';

.eww_bar{
  padding: .3rem;
}

.panel {
  background-color: rgba($background, $alpha);
  padding: .3rem .9rem .3rem .9rem;
  margin: 0 5px 0 5px;
  border-radius: 15px;
}





