

$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monospace;
}

.bar, .screenshot, .screenshottool{
    background-color: $nord1;
    padding: 0.6rem 0;
}

.screenshot, .screenshottool{
    border: 2px solid $nord10;
    border-radius: 10px;
}

.bell {
    color: $nord13;
    font-size: 1.5rem;
}
.wifi {
    font-size: 1.5rem;
    color: $nord9;
}

.noticontent {
    color: $nord3;
}

.sspreview {
    border-radius: 10px;
    border: 2px solid $nord1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}
.clock {
  font-weight: bold;
  font-size: 1.2em;
  background-color: $nord3;
  color: $nord5;
  border-radius: 5px;
  margin: 0.5rem 0 0.5rem 0;
}
.ss {
    background-color: $nord1;
    border-radius: 100px;
    padding: 0.6rem;
    margin: 1rem;
    font-size: 2rem;
}
.ss-text {
    font-size: 2rem;
}
.ss:hover {
    color: $nord10;
}
.ss-close:hover {
    color: $nord11;
}
.cpubar {
    color: $nord10;
    background-color: $nord3;
    border-radius: 10px;
}

.diskbar {
    color: $nord13;
    background-color: $nord3;
    border-radius: 10px;
}
.membar {
    color: $nord14;
    background-color: $nord3;
    border-radius: 10px;
}
.system-status {
    background-color: $nord2;
    padding: 0.5rem;
    border-radius: 10px;

}
.iconmem {
    color: $nord2;
    font-size: 2.5rem;
}
.workspace-focused {
    color: $nord9;
}
.workspace-empty {
    color: $nord3;
}
.workspace-occupied {
    color: $nord4;
}
.date {
    font-size: 1.5rem;
}
.button-off { color: $nord11; font-size: 2rem; }
.button-reb {
    color: $nord15;
}
.button-lock {
    color: $nord14;
    font-size: 2rem;
}
.button-sleep {
    color: $nord13;
    font-size: 2rem;
}
.nixos { font-size: 2rem; color: $nord9; }
.battery {
    font-size: 1.5rem;
    color: $nord9;
}

.volumemicBar trough highlight {
    background-color: $nord10;
}
.volumeBar trough highlight {
    background-color: $nord14;
}
.Charging trough highlight {
    background-color: $nord10;
    min-height: 15px;
}
.Discharging trough highlight {
    background-color: $nord14;
    min-height: 15px;
}
.Not trough highlight {
    background-color: $nord13;
    min-height: 15px;
}
.brightnessBar trough highlight {
    background-color: $nord13;
}
.brightness {
    color: $nord13;
    margin: 0 0.6rem;
}
.musicBar trough highlight {
    background-color: $nord15;
}

.muted {
    color: $nord11;
}

.nomuted {
    color: $nord14;
}

.loud {
    color: $nord13;
}

.micnomuted {
    color: $nord10;
}

.micmuted {
    color: $nord11;
}

.cal {
    background-color: $nord0;
    font-size: 18px;
    font-weight: normal;

    .cal-in {
        padding: 0px 10px 0px 10px;

        .cal {
            &.highlight {
                padding: 20px;
            }

            padding: 5px 5px 5px 5px;
            margin-left: 10px;
        }
    }
}


.volume-window {

}

.volume-spacer, .menu-spacer {
  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);
}

.volume-widget {
  background-color: $nord1;
  border: 2px solid $nord3;
  border-radius: 12px;
  padding: 0px 10px 0px;
  min-height: 32px;
}

.volume-icon {
  font-size: 2rem;
  margin-right: 1rem;
  // margin: 0 6px 0;
}

.volume-icon-muted {
  color: $nord11;
}

.volume-slider {
  background-color: $nord2;
  // padding: 1px;
  border-radius: 10px;
  margin: 2rem 0px 2rem;
  contents {
    trough {
      // padding-top: 3px;
      border-radius:8px;
      slider {
        background: transparent;
      }
      highlight {
        background: $nord10;
        padding: 3px;
        border-radius:4px;
      }
    }
  }
}

.volume-slider-muted {
  background-color: $nord2;
  contents {
    trough {
      highlight {
        background: $nord3;
      }
    }
  }
}

