

$base: #1e1e2e;
$blue: #89b4fa;
$surface0: #313244;
$surface1: #45475a;
$text: #cdd6f4;
$overlay0: #6c7086;
$red: #f38ba8;
$peach: #fab387;
$yellow: #f9e2af;
$mauve: #cba6f7;
$green: #a6e3a1;
$mantle: #181825;
$crust: #11111b;
* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "Roboto";
}
.icon {
  font-family: monospace;
  font-size: 1.4rem;
}

.bar {
  background-color: $mantle;
  padding: 0.6rem 0;
  border-radius: 10px;
}

.wifi {
  font-size: 1.5rem;
  color: $blue;
}

.clock {
  font-weight: bold;
  background-color: $base;
  color: $text;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.cpubar {
  color: $blue;
  background-color: $surface1;
  border-radius: 10px;
}

.diskbar {
  color: $green;
  background-color: $surface1;
  border-radius: 10px;
}
.membar {
  color: $yellow;
  background-color: $surface1;
  border-radius: 10px;
}
.system-status {
  background-color: $base;
  padding: 0.5rem;
  border-radius: 10px;

}
.iconmem {
  color: $base;
  font-size: 2.5rem;
}
.workspace-focused {
  color: $blue;
}
.workspace-empty {
  color: $overlay0;
}
.workspace-occupied {
  color: $text;
}
.date {
  font-size: 1.5rem;
}
.button-off { color: $red; font-size: 2rem;}
.nixos {
  font-size: 1.5rem;
  color: $base;
  background-color: $blue;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.battery {
  font-size: 1.5rem;
  color: $blue;
}

.cal {
  background-color: $base;
  font-size: 18px;
  font-weight: normal;

  .cal-in {
    padding: 0px 10px 0px 10px;

    .cal {
      &.highlight {
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

.volume-spacer, .menu-spacer {
  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);
}

.volume-widget {
  background-color: $base;
  border: 2px solid $surface0;
  border-radius: 12px;
  padding: 0px 10px 0px;
  min-height: 32px;
}

.volume-icon {
  font-size: 2rem;
  margin-right: 1rem;
  // margin: 0 6px 0;
}

.volume-icon-muted {
  color: $red;
}

.volume-slider {
  background-color: $surface0;
  // padding: 1px;
  border-radius: 10px;
  margin: 2rem 0px 2rem;
  contents {
    trough {
      // padding-top: 3px;
      border-radius:8px;
      slider {
        background: transparent;
      }
      highlight {
        background: $blue;
        padding: 3px;
        border-radius:4px;
      }
    }
  }
}

.volume-slider-muted {
  background-color: $surface0;
  contents {
    trough {
      highlight {
        background: $surface1;
      }
    }
  }
}


// Credits AlphaTechnolog

.powermenu-box {
  padding: 0 2px;
  margin: 7px 7px 7px 0px;
  background: inherit;
  .dispatcher {
    border-radius: 15px;
    background: $base;
    color: $red;
    font-size: 14px;
    padding: 0 14px 0 10px;
    &:hover { background-color: $surface0; }
    &:active { background-color: $surface1; }
  }
}

// powermenu
.powermenu-container {
  background: $crust;
  color: $text;
  padding: 10px;
  font-size: 55px;

  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);

  .btn { margin: 1rem;}
  // shutdown
  .shutdown-btn-box .btn {
    color: $red;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
  // reboot
  .reboot-btn-box .btn {
    color: $mauve;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
  // exit
  .exit-btn-box .btn {
    color: $yellow;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
}
