* {
  color: white;
}
window {
  background: black;
  font-family: Product Sans;
}

grid > label {
  color: transparent;
  margin: -20rem;
}

button {
  all: unset;
  padding: 3rem;
}
#unlock-button label {
  color: transparent;
}
#message-box {
  all: unset;
  background-color: black;
}

#clock-label {
  font-size: 10rem;
  margin-bottom: 4rem;
  color: white;
}

entry {
  all: unset;
  border-radius: 30px;
  border: 2px solid white;
  padding: 2rem;
  font-size: 2rem;
  background-color: black;
}
