Config(
  // x: Fraction(0.5),
  y: Fraction(0.2),
  hide_icons: true, 
  ignore_exclusive_zones: false, 
  layer: Overlay,  
  hide_plugin_info: true, 
  close_on_click: true,
  show_results_immediately: true,
  max_entries: Some(5),
  
  plugins: [
    "libapplications.so",
    "libsymbols.so",
    "libshell.so",
    "libstdin.so",
    "librink.so"
  ],
)
