@import "config"

prompt {
  font: "Lexend 18";
}

entry {
  font: "Lexend 18";
  placeholder: "Type your math here...";
}

window {
	width: 600;
}

listview {
  columns:       1;
  lines:         3;
  cycle:         true;
  dynamic:       true;
  layout:        vertical;
  flow:          horizontal;
  reverse:       false;
  fixed-height:  true;
  fixed-columns: true;
}
