@import "scrollbars.css";

/* New Tab Flash */
:root{--newtab-textbox-background-color:#2e3440;}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html{
    background: #2e3440 !important
}

.tab-line {
display : none !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
    fill: #81A1C1 !important;
    background-color: #2e3440 !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: #2e3440 !important;
}

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after{
  display: none !important;

}
tab
{
    height:3rem;
    background-color: #2e3440 !important;
    font-weight: thin !important;
    color : #81A1C1 !important;
}


.tab-content[selected="true"]
{

    background-color: #2e3440 !important;
    font-weight: bold !important;
    color : #81A1C1 !important;
}

#nav-bar-customization-target {
	background-color: #2e3440 !important;
}


.tabbrowser-tab{ opacity: 0.5 }
.tabbrowser-tab:hover{ opacity: 0.75 }
.tabbrowser-tab[selected]{ opacity: 1 }

#urlbar{
	box-shadow: none !important;
	background-color: #2e3440 !important;
	background: none !important;
	border: none !important;
	color : #81A1C1 !important;
	font-weight: bold !important;
}

#urlbar:hover{
  box-shadow: none !important;
}

#tracking-protection-icon-container,#pageActionSeparator{ border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down{ background-color: transparent !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }

/*Tabs below nav bar
#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}
*/
#navigator-toolbox{
  margin-top: 0px;
  padding-top:0px !important;
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
}
/*#navigator-toolbox { --tabs-border-color: transparent !important; }*//* remove weird line*/



/*Hide tabs bar if one tab is opened
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}

#tabbrowser-tabs #tabs-newtab-button {
  visibility: collapse !important;
}

*/

#navigator-toolbox {
--tabs-border-color:#3b4252 !important;

}
toolbarseparator {
display: none !important;
}
.panel-arrowcontainer {
background-color:#2e3440 !important;
}
#PopupAutoComplete {
background-color:#2e3440 !important;
}
#PopupSearchAutoComplete {

background-color:#2e3440 !important;
}

#PanelUI-button {
border:none !important;
margin-inline-start: 0px !important;
padding-inline-start: 0px !important;
}
.urlbarView {
/*background:#2e3440 !important;*/
}

panelview {

background-color:#2e3440 !important;
}
--panel-separator-color: none !important;
